.todo--item {
  width: 325px;
  height: 100px;
  display: grid;
  place-items: center;
  grid-template-columns: 1px 50px auto ;
  border-radius: 5px;
  border: 1px solid #9b9b9b7a;
  box-shadow: 0 3px 3px #9b9b9b7a;
  margin-bottom: 5px;

  &.is-completed {
    order: -1;
  }
}

.todo--text {
  width: 100%;
  text-align: left;

  &.is-completed {
    text-decoration: line-through; ;
  }

}

.todo--label {
  visibility: hidden;
}