@media (prefers-reduced-motion: no-preference) {
  .loading--spin {
    margin: 100px auto;
    width: 200px;
    height: 200px;
    animation: rotate infinite 20s linear;
  }

}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}